<h1> New Movie</h1>

<%= form_for (@movie) do |f| %>
	<% if @movie.errors.any? %>
	<div class= "error_messages">
		<h2>Form is Invalid </h2>
		<ul>
			<% for message in @movie.errors.full_messages %>
			<li> <%= message %> </li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<p>
		<%= f.label :name %><br/>
		<%= f.text_field :name %><br/>
	</p>
	<p>
        <%= f.label :tag_list %><br />
        <%= f.text_field :tag_list %>
   </p>

	<p class="button"> <%= f.submit "Post" %></p>
	<% end %>